* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-image: url(../img/rectbg.svg) -webkit-gradient(linear, left top, left bottom, from(rgba(70, 70, 70, 0.034)), to(rgba(70, 70, 70, 0.055)));
  background-image: url(../img/rectbg.svg) linear-gradient(to bottom, rgba(70, 70, 70, 0.034), rgba(70, 70, 70, 0.055));
  background-size: cover;
  width: 100%;
}

body .hide {
  overflow: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #222121;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  /* border-radius: 8px;
    -webkit-border-radius: 8px; */
  background: white;
}

::-webkit-scrollbar-thumb {
  /* border-radius: 8px;
    -webkit-border-radius: 8px; */
  background: #b9b9b9;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 0, 0, 0.4);
}

/*   button animations   */
.hvr-sweep-to-right {
  /* display: inline-block; */
  /* vertical-align: middle; */
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  /* position: relative; */
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #222121;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover,
.hvr-sweep-to-right:focus,
.hvr-sweep-to-right:active {
  color: white;
}

.hvr-sweep-to-right:hover:before,
.hvr-sweep-to-right:focus:before,
.hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

/*     DISCOVER MORE BUTTON     */
.hvr-icon-forward {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
}

.hvr-icon-forward .hvr-icon {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-icon-forward:hover .hvr-icon,
.hvr-icon-forward:focus .hvr-icon,
.hvr-icon-forward:active .hvr-icon {
  -webkit-transform: translateX(8px);
  transform: translateX(8px);
}

/*   unnderline animations   */
.hvr-underline-from-left {
  /* display: inline-block; */
  /* vertical-align: middle; */
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: #ec2727;
  height: 4px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
  right: 0;
}

.navigation-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 7vh;
  font-size: 2rem;
  font-weight: 600;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: whitesmoke;
  z-index: 1;
  position: fixed;
  width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  top: 0;
}

.navigation-bar .nav-bar.left {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 60rem;
          flex: 1 1 60rem;
  width: 100%;
  min-height: 7vh;
  margin-left: 10vw;
}

.navigation-bar #logo {
  width: 16rem;
  margin-left: 10vw;
}

.navigation-bar .nav-bar-right {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 40rem;
          flex: 1 1 40rem;
  width: 50%;
  min-height: 7vh;
  position: relative;
}

.navigation-bar .nav-bar-right .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 60%;
  min-height: 7vh;
  float: right;
}

.navigation-bar .nav-bar-right .links .link-red {
  height: 7vh;
  width: 8rem;
  top: 0;
  right: 0;
  -webkit-transition: ease-in-out 0.3s all;
  transition: ease-in-out 0.3s all;
  position: absolute;
  background-color: #ec2727;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navigation-bar .nav-bar-right .links .link-red .stripe {
  height: 0.3rem;
  width: 4rem;
  margin: 0.3rem auto;
  background: white;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navigation-bar .nav-bar-right .links .link-red .stripe-top {
  margin-top: auto;
}

.navigation-bar .nav-bar-right .links .link-red .stripe-bot {
  margin-bottom: auto;
}

.hero-bg {
  background-image: url(../img/yourpath.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80vw;
}

.hero-bg .hero-inner {
  min-height: 90vh;
  width: 70%;
  margin: 0rem auto;
  padding: 13rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero-bg .hero-inner .hero-title {
  margin-bottom: 5rem;
  font-size: 6vw;
}

.hero-bg .hero-inner .hero-title span {
  color: #ec2727;
}

.hero-bg .hero-inner .hero-description {
  font-size: 1.414vw;
  font-weight: 500;
  width: 90%;
  line-height: 4.8rem;
  letter-spacing: 0.125rem;
  margin: 8rem 0rem;
}

.hero-bg .hero-inner .discover {
  padding: 1.2rem 2rem 1.2rem 1.5rem;
  width: 14vw;
  background-color: #222121;
  color: white;
  border: none;
  font-weight: 600;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  -webkit-transition: ease-in-out 0.3s all;
  transition: ease-in-out 0.3s all;
  cursor: pointer;
}

.hero-bg .hero-inner .discover:hover {
  background-color: #ec2727;
}

.bottom-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 1.6rem;
  font-weight: 400;
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
}

.bottom-scroll h4 {
  margin-bottom: 1rem;
}

.bottom-scroll arrow-down {
  animation: downUpArrow 1s ease-in-out alternate-reverse infinite;
}

@-webkit-keyframes downUpArrow {
  0% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
  1000% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
}

@keyframes downUpArrow {
  0% {
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
  1000% {
    -webkit-transform: translateY(6px);
            transform: translateY(6px);
  }
}

.tours-title,
.events-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  letter-spacing: 0.4rem;
  -webkit-transform: translateY(10rem);
          transform: translateY(10rem);
  color: white;
  position: relative;
  width: 80%;
  margin: 0 auto;
  font-style: italic;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 4.2rem;
}

.tours-title span,
.events-title span {
  width: 40%;
  height: 1rem;
  margin: auto;
}

.tours-title span {
  background: white;
}

.events-title {
  color: #222121;
}

.events-title span {
  background: #222121;
}

.tours {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  min-height: 60vh;
  background: rgba(248, 0, 0, 0.5);
}

.tours .box-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.tours .box-container .box {
  color: white;
  padding: 4rem;
}

.tours .box-container .box .container {
  overflow: hidden;
}

.tours .box-container .box .container img {
  height: 24vh;
  width: 24vw;
}

.tours .box-container .box .box-tourtitle {
  margin: 1rem auto;
  font-size: 2rem;
  font-weight: 600;
}

.tours .box-container .box .box-date {
  margin-top: 1rem 0;
  font-weight: 400;
  font-size: 1.2rem;
}

.container-hover-zoom img {
  -webkit-transition: -webkit-transform 0.5s, -webkit-filter 0.5s ease-in-out;
  transition: -webkit-transform 0.5s, -webkit-filter 0.5s ease-in-out;
  transition: transform 0.5s, filter 0.5s ease-in-out;
  transition: transform 0.5s, filter 0.5s ease-in-out, -webkit-transform 0.5s, -webkit-filter 0.5s ease-in-out;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.container-hover-zoom:hover img {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.075);
          transform: scale(1.075);
}

/* BRANDS SECTION */
/*# sourceMappingURL=style.css.map */