$color: (
  primary: #ec2727,
  accent: #222121,
);

$font: (
  navigation: 2rem,
  button: 1.6rem,
  title: 6vw,
  subtitle: 4.2rem,
  description: 1.414vw,
);

@function color($color-name) {
  @return map-get($color, $color-name);
}

@function font($font-size) {
  @return map-get($map: $font, $key: $font-size);
}

@mixin flex($align, $justify, $direction: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@import "global";
@import "navigation";
@import "main";
