$navfont: 2rem;
$discoverbutton: 1.6rem;
$herotitle: 6vw;
$sectiontitle: 4.2rem;
$herodescription: 1.414vw;
$red: #ec2727;

@mixin flex($align, $justify, $direction: row) {
  display: flex;
  align-items: $align;
  justify-content: $justify;
  flex-direction: $direction;
}

@import "global";
@import "navigation";
@import "main";
